.submenucontain{
    height: 100%;
    display: flex;
    /* align-items: center; */
    padding: 20px;
    justify-content: space-around;
    flex-direction: column;
    background-color: #191e23;
    border-radius: 5px;
}

.submenu1, .submenu2, .submenu3{
    min-width: 64px;
    min-height: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.submenu1{
    background-color:rgba(255, 0, 0, 0.245);
}

.submenu2{
    background-color:rgba(0, 94, 255, 0.245);
}
.submenu3{
    background-color:rgba(12, 187, 196, 0.39);
}

.subnav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.navlogo{
    display: flex;
    align-items: center;
    font-size: 22px;
}

.navlogo span:first-child{
    margin-right: 10px;
}
.redirectlogo{
   width: 40px;
   height: 40px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgba(128, 128, 128, 0.247);
   font-size: 20px;
}



@media (max-width: 768px) {
    .submenucontain{
        margin-top: 1rem;
    }
.subnav{
    margin-top: 1rem;
}

}