.netcontainer{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #191e23;
    padding: 8px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.increase3{
    color: rgb(31, 211, 139) !important;
}

.goalcompl{
   display: flex;
   justify-content: center;
   align-items: center;
   /* width: 50%; */
}


.profitget{
    font-size: clamp(1rem, 2.2vw, 2.2rem);
     font-weight: 700 
}

.netcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

@media (max-width: 768px) {
    .netcontainer{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
        margin-top: 1rem;
    }

}